.residentscard:hover .left_door {
    left: -100px;
    /* transform: scale(0.6); */
}
.residentscard:hover .right_door {
    right: -100px;
    /* transform: scale(0.6); */
}
.residentscard:hover{
    transform: scale(1.1);
}
.residentscard,
.left_door , .right_door{
    transition: 1s all;
}
.residents-text-box{
    transform: scale(0.6);
    transition: 1s all;
}
.residentscard:hover .residents-text-box{
z-index: 10;
 transform: scale(1);
}